<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>

  <body>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <%- include('components/navbar') %> <%- include('components/sidebar') %>
        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Dashboard</h1>
            </div>
            <h3><%= article.title %></h3>
            <br>
            <p><%- article.body %></p>
          </section>
        </div>
      </div>
    </div>

    <%- include('components/bottom-script-tag') %>
  </body>
</html>
