<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>

  <body>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <%- include('components/navbar') %>
          <%- include('components/sidebar') %>
            <!-- Main Content -->
            <div class="main-content">
              <section class="section">
                <div class="section-header">
                  <h1>Dashboard</h1>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h4>Articles List</h4>
                        <div class="card-header-action">
                          <a href="/dashboard/create-article" class="btn btn-primary">Create</a>
                        </div>
                      </div>
                      <div class="card-body p-0">
                        <div class="table-responsive">
                          <table class="table table-striped mb-0">
                            <thead>
                              <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Approved</th>
                                <th>Views</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for (let index = 0; index < articles.length; index++) {
                                const article = articles[index];%>
                                <tr>
                                  <td>
                                    <a href="/dashboard/article/<%= article.id %>">
                                      <%= article.title %>
                                    </a>
                                    <% if (article.approved) { %>
                                      <div class="table-links">
                                        <div class="bullet"></div>
                                        <a href="/article/<%= article.id %>">View</a>
                                      </div>
                                      <% } %>
                                  </td>
                                  <td>
                                    <a href="#" class="font-weight-600">
                                      <%= article.usertoar.name %>
                                    </a>
                                  </td>
                                  <td>
                                    <% if (article.approved) { %>
                                      <div class="badge badge-success font-weight-600">Approved</div>
                                      <% } else {%>
                                        <div class="badge badge-danger font-weight-600">Not Approved</div>
                                        <% } %>
                                  </td>
                                  <td>
                                    <p href="#" class="font-weight-600">
                                      <%= viewCounts[index].viewCount %>
                                    </p>
                                  </td>
                                  <td>
                                    <a href="/dashboard/article/edit/<%= article.id %>"
                                      class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i
                                        class="fas fa-pencil-alt"></i></a>
                                    <a href="/dashboard/article/delete/<%= article.id %>"
                                      class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete"><i
                                        class="fas fa-trash"></i></a>
                                  </td>
                                </tr>
                                <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
      </div>
    </div>

    <%- include('components/bottom-script-tag') %>
  </body>

</html>