<!DOCTYPE html>
<html lang="en">

<%- include('components/head') %>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    </head>

    <body>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                <%- include('components/navbar') %>
                    <%- include('components/sidebar') %>
                        <!-- Main Content -->
                        <div class="main-content">
                            <section class="section">
                                <div class="section-header">
                                    <h1>Dashboard</h1>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                        <form method="post" action="/dashboard/article/update/<%= article.id %>"
                                            class="needs-validation" novalidate="">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4>Edit Article <%= article.title %>
                                                    </h4>
                                                </div>
                                                <div class="card-body pb-0">
                                                    <div class="form-group">
                                                        <label>Title</label>
                                                        <input type="text" name="title" class="form-control"
                                                            value="<%= article.title %>" required>
                                                        <div class="invalid-feedback">
                                                            Please fill in the title
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Content</label>
                                                        <textarea class="summernote-simple"
                                                            name="body"><%= article.body %></textarea>
                                                    </div>
                                                    <div class="form-group">

                                                        <div class="control-label">Approved</div>
                                                        <label class="custom-switch mt-2">
                                                            <input type="checkbox" name="approved"
                                                                class="custom-switch-input" <% if (article.approved) { %> checked <% } %> />
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Did you approve this article to be published?</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="card-footer pt-0">
                                                    <button class="btn btn-primary">Update Article</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
            </div>
        </div>

        <%- include('components/bottom-script-tag') %>
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    </body>

</html>