<!DOCTYPE html>
<html lang="en">

<%- include('components/head') %>

    <body>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                <%- include('components/navbar') %>
                    <%- include('components/sidebar') %>
                        <!-- Main Content -->
                        <div class="main-content">
                            <section class="section">
                                <div class="section-header">
                                    <h1>Dashboard</h1>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="card card-statistic-1">
                                            <div class="card-icon bg-primary">
                                                <i class="far fa-user"></i>
                                            </div>
                                            <div class="card-wrap">
                                                <div class="card-header">
                                                    <h4>Total Admin</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%= userCount %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="card card-statistic-1">
                                            <div class="card-icon bg-danger">
                                                <i class="far fa-newspaper"></i>
                                            </div>
                                            <div class="card-wrap">
                                                <div class="card-header">
                                                    <h4>Total Article</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%= articleCount %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="card card-statistic-1">
                                            <div class="card-icon bg-warning">
                                                <i class="fas fa-circle"></i>
                                            </div>
                                            <div class="card-wrap">
                                                <div class="card-header">
                                                    <h4>Total Visitor</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%= allVisitor %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
            </div>
        </div>

        <%- include('components/bottom-script-tag') %>
    </body>

</html>