<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, 
        user-scalable=0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link href="/stylesheets/breakpoint-width.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="w-90 mx-auto">
        <div class="row">
            <div class="col-md-6 col-lg-7 d-none d-md-block">
                <div class="row min-vh-100 align-items-center justify-content-center border-line"> <img
                        src="https://i.imgur.com/luLEYoe.png" class="image"> </div>
            </div>
            <div class="col-1 d-none d-md-block"></div>
            <div class="col-12 col-md-5 col-lg-4">
                <div class="row min-vh-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="text-white">
                            <h1 id="sign-in-text">Sign Up</h1>
                            <p> Let's build a better world together!</p>
                        </div>
                        <div class="card">
                            <form class="box form-signin text-center my-auto" method="POST">
                                <input type="email" name="email" placeholder="Email">
                                <input type="text" name="name" placeholder="Name">
                                <input type="password" name="password" placeholder="Password">
                                <input type="submit" value="Sign Up">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            padding: 0;
            margin: 0;
            background-color: #5FA782;
        }

        .w-90 {
            width: 90%;
        }

        .card {
            border-radius: 16px;
            width: 100%;
            height: 415px;
        }

        #sign-in-text {
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            font-family: 'Lilita One', cursive;
        }

        .box {
            width: 100%;
            padding: 0 5%;

            text-align: center;
        }

        .box input[type="email"],
        .box input[type="text"],
        .box input[type="password"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #FFC727;
            padding: 10px 10px;
            height: 65px;
            border-radius: 8px;
            width: 100%;
            outline: none;
            font-family: 'Roboto', sans-serif;
            color: black;
            transition: 0.25s
        }


        .box input[type="submit"] {
            border-radius: 8px;
            height: 65px;
            border: 0;
            width: 100%;
            padding: 15px 7.5px;
            background: none;
            display: block;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            background-color: #5FA782;
            outline: none;
            color: white;
            transition: 0.25s;
            cursor: pointer;
        }
    </style>
</body>

</html>