<!DOCTYPE html>
<html lang="en">

<%- include('dashboard/components/head') %>
    <div class="bg-light d-block d-lg-none " id="btnUnderLg">
        <div class="text-right">
            <a href="/login" class="btn btn-primary text-dark mr-4 mt-2">Login</a>
        </div>
    </div>
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
        <a href="/"><b class="navbar-brand text-white">Monolith</b></a>
        <form class="form-inline ">
            <ul class="navbar-nav mr-3">
                <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                            class="fas fa-search"></i></a>
                </li>
            </ul>
            <div class="search-element">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </nav>
    <div id="authBtn" class="d-none d-lg-block">
        <a href="/login" class="btn btn-dark text-white mr-4">Login</a>
    </div>

    <body>
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-group-item d-flex p-3
                                justify-content-between align-items-center shadow">
                            <div class="media-body mx-3">
                                <h4 class="media-heading">
                                    <%= article.title %>
                                </h4>
                                <hr class="bg-primary">
                            </div>
                        </li>
                        <li class="list-group-item d-flex p-3
                                justify-content-between align-items-center mt-2 shadow">
                            <%- article.body %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('dashboard/components/bottom-script-tag') %>
    </body>
    <style>
        .navbar {
            left: 0 !important;
        }

        .navbar-bg {
            height: 80px;
            top: 50px;
        }

        #authBtn {
            right: 25px;
            top: 15px;
            font-size: 16px;
            z-index: 1000;
            position: absolute;
        }

        #btnUnderLg {
            font-size: 24px;
            height: 50px;
        }

        @media (min-width: 992px) {
            .navbar-bg {
                top: 0
            }
        }
    </style>

</html>