<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
    <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                        class="fas fa-search"></i></a></li>
        </ul>
        <div class="search-element">
            <form action="/dashboard/search" method="POST">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250" name="title">
                <button class="btn" type="submit" formaction="/dashboard/search" formmethod="POST"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </form>
</nav>