<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/dashboard">Dashboard Monolith</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="/dashboard">DM</a>
        </div>
        <ul class="sidebar-menu">
            <li class="dropdown active">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/dashboard">Website Statistics</a></li>
                    <li><a class="nav-link" href="/dashboard/articles">Articles</a></li>
                    <li><a href="/logout" class="dropdown-item has-icon text-danger">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a></li>
                </ul>
            </li>
        </ul>
    </aside>
</div>